@{
    Layout = "_AdminLayout";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<table id="datatable" name="datatable" class="display responsive nowrap">
    <thead>
        <tr>
            <th>
                CompanyId
            </th>
            <th>
                CompanyName
            </th>
            <th>
                Address
            </th>
            <th>
                City
            </th>
            <th>
                State
            </th>
            <th>
                Pin
            </th>
            <th>
                ContactNo
            </th>
            <th>
                Email
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>

        </tr>

    </thead>


</table>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>

<script src="~/company/js/managecompany.js"></script>


