@using ChandigarhEstates.Model;
@model ChandigarhEstates.Model.manageCustomer

@{
    Layout = "_AdminLayout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Add New Customer</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <br />
        <h4 style="color:forestgreen; text-align:center">Add New Customer</h4><br />

        <form id="customerForm" asp-controller="Home" asp-action="AddNewCustomer" method="post">
            <div class="form-group">
                <label for="company">CompanyName:</label>
                <select class="form-control" id="CompanyId" asp-for="CompanyId" name="CompanyId" required>
               {
                    @foreach (var company in (List<CompanyDetail>)TempData["Companies"])
                    {
                        <option value="@company.CompanyId">@company.CompanyName</option>
                    }
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="companyDetail">Name:</label>
                <input class="form-control" id="CustomerName" name="CustomerName" asp-for="CustomerName" required></input>
            </div>

            <div class="form-group">
                <label for="parentName">ParentName:</label>
                <input type="text" class="form-control" id="ParentName" name="ParentName" asp-for="ParentName" required>
            </div>


            <div class="form-group">
                <label for="CustomerEmail">CustomerEmail:</label>
                <input type="text" class="form-control" id="CustomerEmail" name="CustomerEmail" asp-for="CustomerEmail" required>
            </div>


            <div class="form-group">
                <label for="mobileNo">Mobile No:</label>
                <input type="text" class="form-control" id="Contact" name="Contact" asp-for="Contact" required>
            </div>


            <div class="form-group">
                <label for="amount">Amount:</label>
                <input type="number" class="form-control" id="Amount" name="Amount" asp-for="Amount" required>
            </div>


            <div class="form-group">
                <label for="transactionNo">Transaction No:</label>
                <input type="text" class="form-control" id="TransactionId" name="TransactionId" asp-for="TransactionId" required>
            </div>

            <div class="form-group">
                <label for="plotSize">Plot Size:</label>
                <input type="text" class="form-control" id="PlotSize" name="PlotSize" asp-for="PlotSize" required>
            </div>

            <button class="btn btn-success" type="submit" id="submit" name="submit"value="Add" >Submit</button>
        </form>
    </div>
</body>
</html>
    <!-- Include Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
                        // Perform AJAX request to submit form data to the server
</script>
<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Include Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
    
    function populateCompanyDropdown() {
        // Perform AJAX request to get the company data
        $.ajax({
            url: '/YourController/GetCompanies', // Replace with the actual URL and controller action to fetch the company data
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                // Populate the dropdown options
                var dropdown = $('#company');
                dropdown.empty();
                dropdown.append('<option value="">Select a company</option>');
                $.each(data, function (key, entry) {
                    dropdown.append($('<option></option>').attr('value', entry.id).text(entry.name));
                });
            },
            error: function (xhr, status, error) {
                // Handle error
                console.log(error);
            }
        });
    }
</script>
