@{
    Layout = "_AdminLayout";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">Primary Card</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">Warning Card</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">Success Card</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">Danger Card</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        Area Chart Example
                    </div>
                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Bar Chart Example
                    </div>
                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                User Detail
            </div>
            @*<div class="card-body">*@

            <div class="container mt-4">


                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Show/Hide Users
                </a>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <table id="datatable" name="datatable" class="display responsive nowrap">
                            <thead>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Address
                                    </th>
                                    <th>
                                        City
                                    </th>
                                    <th>
                                        State
                                    </th>
                                    <th>
                                        Pin
                                    </th>
                                    <th>
                                        Mobile
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                    <th>Block/Unblock</th>

                                </tr>
                            </thead>

                        </table>

                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="Editmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="EditModalBody">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="SaveData()">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
            @*</div>*@
        </div>
    </div>
</main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
    $(function () {
        getList();
    });

    function getList() {
        $.ajax({
            type: "GET",
            url: "/Admin/Getusers",
            success: function (data) {
                debugger;
                $('#datatable').DataTable().clear().destroy();

                $('#datatable').dataTable({
                    processing: true,
                    "aaData": data,
                    "order": [[0, 'desc']],
                    "columns": [
                        //{
                        //    "data": "id",
                        //    visible: false,
                        //    searchable: false,
                        //},
                        { "data": "first_name" },
                        { "data": "last_name" },
                        { "data": "email" },
                        { "data": "role_name" },
                        { "data": "pincode" },
                        {
                            "mRender": function (data, type, row) {
                                return ' <a id="btnedit" onclick="editUser(' + row.id + ')" title="Edit" class="btn-text-size btnedit" data-id=' + row.id + '>Edit</a>';
                            }
                        },
                        {
                            "mRender": function (data, type, row) {
                                return '<a id="btndelete" onclick="deleteUser(' + row.id + ')" title="Delete" class="btn-text-size btndelete" data-id=' + row.id + '>Delete</a>';
                            }
                        },

                        {
                            "mRender": function (data, type, row) {
                                if (row.isactive == true) {
                                    return '<button class="btn btn-primary"><a id="block" onclick="blockUser(' + row.id + ')" title="block" class="btn-text-size link-dark btndelete" data-id=' + row.id + '>Block</a></button>';
                                }
                                else {
                                    {
                                        return '<button class="btn btn-primary"><a id="block"  onclick="UnblockUser(' + row.id + ')" title="block" class="btn-text-size link-dark btndelete" data-id=' + row.id + '>Unblock</a></button>';
                                    }
                                }
                            }
                        },
                    ]
                })

            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    //to unblock user
    function UnblockUser(id) {
        var ID = id;
        var data = { "id": ID };
        $.post("/Admin/UnblockUser", data,
            function (res) {
                getList();
            });
    }

    //to block user
    function blockUser(id) {
        var ID = id;
        var data = { "id": ID };
        $.post("/Admin/blockUser", data,
            function (res) {
                getList();
            });
    }
    // edit use information
    function editUser(id) {
        $.get("/Admin/editUser/" + id,
            function (res) {
                $('#EditModalBody').html(res);
            });
        $('#Editmodal').modal("show");

    }

    //to save edituser data
    function SaveData() {
        debugger;
        var Id = $("#id").val();
        ////var Isactive = isactive;
        var firstname = $("#first_name").val();
        var lastname = $("#last_name").val();
        var email = $("#email").val();
        var phone = $("#phone").val();
        var city = $("#city_id").val();
        var pincode = $("#pincode").val();
        var address = $("#address").val();
        var role = $("#role_id").val();
        if ($("#isactive").val() == "") {

            var isactive = false;
        }
        else {

            var isactive = true;
        }
        var data = {
            "id": Id, "first_name": firstname, "last_name": lastname, "email": email, "phone": phone,
            "city_id": city, "pincode": pincode, "address": address, "isactive": isactive, "role_id": role
        };
        $.post("/Admin/SaveData", data,
            function (res) {
                if (res == 200) {
                    alert("data updated")
                    $('#Editmodal').modal("hide");
                }
                getList();
            });
    }


    //to delete user

    function deleteUser(id) {
        var check = confirm("are you sure you want to delete this account?");
        if (check) {


            var ID = id;
            var data = { "id": ID };
            $.post("/Admin/deleteUser", data,
                function (res) {
                    debugger;
                    getList();
                });
        }
    }
</script>