@{
    Layout = "_AdminLayout";
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<table id="datatable" name="datatable" class="display responsive nowrap">
    <thead>
        <tr>
            <th>
                CompanyId
            </th>
            <th>
                CompanyName
            </th>
            <th>
                Address
            </th>
            <th>
                City
            </th>
            <th>
                State
            </th>
            <th>
                Pin
            </th>
            <th>
                ContactNo
            </th>
            <th>
                Email
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>

        </tr>

    </thead>


</table>


<script>
    $(function () {
        debugger;
        getList();
    });
    function getList() 
    {
        debugger;
        $.ajax
       (
        {
            type: "GET",
            url: "/Home/GetCompany",
            success: function (data) 
            {
                debugger;

                $('#datatable').DataTable().clear().destroy();

                $('#datatable').dataTable
                (
                    {
                    processing: true,
                    "aaData": data,
                    "order": [[0, 'asc']],
                    "columns": [
                    
                        { "data": "companyId" },
                        { "data": "companyName"},
                        { "data": "address" },
                        { "data": "cityId" },
                        { "data": "stateId" },
                        { "data": "pin" },
                        { "data": "contactNo" },
                        { "data": "email" },
                           
                        {
                            "mRender": function (data, type, row) 
                            {
                                                return ' <a id="btnedit" href="#" onclick="edit(' + row.companyId + ')" title="Edit"  data-id=' + row.companyId + '>Edit</a>';
                            }
                        },
                        {
                            "mRender": function (data, type, row) {
                                                return ' <a id="btndelete" href="#" onclick="delete(' + row.companyId + ')" title="Delete"  data-id=' + row.companyId + '>Delete</a>';
                            }
                        },

                    ]
                }
                )

            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        }
       );
    }

    function edit(id) {
        alert(id);
    }
</script>

<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>



