@model Chandigarh_Estates.ResetPassword
@{
    Layout = "~/Views/Shared/_loginLayout.cshtml";
}
<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en" dir="ltr">
<form asp-controller="Home" asp-action="ResetPassword" method="post">
    <head>
        <meta charset="UTF-8">
        <!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->
        <link rel="stylesheet" href="/css/css/Login.css">
        <!-- Fontawesome CDN Link -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <input type="checkbox" id="flip">
            <div class="cover">
                <div class="front">
                </div>
            </div>
            <div class="forms">
                <div class="form-content">
                    <div class="login-form">
                        <div class="title">Reset Password</div>
                        <div id="msg" style="color:red"></div>
                        
                            <div class="input-boxes">
                                <div class="input-box">
                                    <i class="fas fa-envelope"></i>
                                    
                                    <input type="text" name="Email" id="Email" asp-for=Email value="@Model.Email" placeholder="Enter your email" required>
                                </div>
                                <div class="input-box">
                                    <i class="fas fa-lock"></i>
                                    <input type="password" name="Password" id="Password" asp-for=Password value="@Model.Password" placeholder="Enter your password" required>
                                </div>
                                    <input type="submit" onclick="validate()" name="Reset">

                                </div>
                                
                    </div>

                </div>
            </div>
        </div>
    </body>
</form>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>

    function validate() {
        var result = true;
        let Email = $("#Email").val();
        if (Email == "") {
            $("#msg").html("Email is required");
            result = false;
            return result;
        }
        else {
            $("#msg").html("");
        }
        let password = $("#Password").val();
        if (password == "") {
            $("#msg").html("Password is required");
            result = false;
            return result;
        }
        else {
            $("#msg").html("");
        }
    }
</script>

